<footer class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
    <div class="flex flex-col md:flex-row justify-end items-center">
      <span class="text-sm text-gray-400"> &copy; 2025 </span>
      <span class="text-sm text-gray-400 mx-2">| This is a footer :)</span>
    </div>
  </div>
</footer>
